In [1]:
def colleypy(csvpath):
    import numpy as np
    import pandas as pd
    
    #csv input should be a file with the columns "team1", "team2", "team1points", "team2points"
    games = pd.read_csv(csvpath)
    
    #from games, we fill out a team dataframe with summary stats on each unique team from the games dataframe
    teams = pd.DataFrame(columns = ['teamname', 'wins','losses','games','b'])
    teams['teamname'] = games['team1'].unique()
    
    #the next two functions fill in teams['wins'] and teams['losses']
    def calcwins(row):
        wins = games[(games['team1'] == row['teamname']) & (games['team1points'] > games['team2points'])].count()
        wins += games[(games['team2'] == row['teamname']) & (games['team2points'] > games['team1points'])].count()
        return wins

    def calclosses(row):
        losses = games[(games['team1'] == row['teamname']) & (games['team1points'] < games['team2points'])].count()
        losses += games[(games['team2'] == row['teamname']) & (games['team2points'] < games['team1points'])].count()
        return losses
    
    #the next 4 commands fill out teams using our functions and some simple math
    teams['wins'] = teams.apply(calcwins,axis=1)
    teams['losses'] = teams.apply(calclosses,axis=1)
    teams['games'] = teams['wins'] + teams['losses']
    teams['b'] = 1 + ( (teams['wins'] - teams['losses']) / 2)
    
    #declare vector of b-values, will need later
    bvector = teams['b']
    
    #create empty matrix, fill in column with team names, use team names to create columns, setting all values to zero.
    matrix = pd.DataFrame()
    matrix['team'] = teams['teamname']
    for i in teams['teamname']:
        matrix[i] = 0
    
    #dropping column one (team) to make matrix square for diagonal fill    
    matrix = matrix.drop('team',axis=1)
    
    #filling diagonal with team games played plus 2
    diag = pd.Series(data = list(teams['games']+2), index = list(teams['teamname']))
    np.fill_diagonal(matrix.values,diag)
    
    #recreating the team column as column one
    matrix.insert(0, 'team', games['team1'].unique())
    
    #make the just recreated column the index instead of a column
    matrix = matrix.set_index('team')
    
    #build dictionary where each team has a key and each key contains a list of opponents that team has played (duplicates possible)
    opponents = {}
    for team in games['team1'].unique():
        opponents[team] = []
        teamsgames = games[(games['team1'] == team) | (games['team2'] == team)]
        opps = list(teamsgames[teamsgames['team1'] != team]['team1'])
        opps.extend(list(teamsgames[teamsgames['team2'] != team]['team2']))
        opponents[team] = opps
    
    #for every team contained in the above dictionary, we take their list of opponents to set the cross point of those two
    #teams in the matrix to its current value minus 1
    for team in opponents:
        for oppo in opponents[team]:
            matrix[team][oppo] -= 1
    
    #invert the matrix for solving       
    matrix_inverse = pd.DataFrame(np.linalg.pinv(matrix.values), matrix.columns, matrix.index)
    
    #solve equation ( matrix(ranking) = bvector ) via ( matrix^-1(b) = rankings)
    ranking = matrix_inverse.dot(bvector.values)
    
    #build DataFrame for final output and fill
    output = pd.DataFrame()
    output['team'] = teams['teamname']
    output['colleyrating'] = ranking.values
    output = output.sort_values(by=['colleyrating'],ascending=False)
    
    #print and return output
    print(output)
    return output

In [2]:
import numpy as np
import pandas as pd
op = colleypy(r'C:\Users\jmccoy\Documents\Personal Docs\McCoy Matrix CFB\colleything.csv')

                  team  colleyrating
40          Ohio State      1.029458
55                 LSU      0.964445
68             Clemson      0.897372
7              Memphis      0.868056
77            Oklahoma      0.862770
46             Georgia      0.840642
109         Notre Dame      0.834664
119         Penn State      0.832072
130          Wisconsin      0.830073
18         Boise State      0.826428
10              Oregon      0.811263
39            Michigan      0.802051
94   Appalachian State      0.791476
28                Utah      0.790116
32          Cincinnati      0.789909
47             Florida      0.783225
76              Baylor      0.783188
54              Auburn      0.776176
17                 SMU      0.771176
118               Navy      0.767514
12                Iowa      0.760456
123          Minnesota      0.760250
51             Alabama      0.753456
102          Air Force      0.735807
98                 USC      0.695476
89    Florida Atlantic      0.678018
8            Louisiana      0.671728
110                UCF      0.665448
71            Virginia      0.649216
75      Oklahoma State      0.638312
..                 ...           ...
16    Coastal Carolina      0.337318
107         Texas Tech      0.337269
29        Northwestern      0.329962
63   Northern Illinois      0.327727
31        Fresno State      0.326012
24                Army      0.325932
69            NC State      0.319923
20        Georgia Tech      0.307989
88    Middle Tennessee      0.303482
34      Colorado State      0.302261
78              Kansas      0.301402
103               UNLV      0.298516
21       East Carolina      0.293297
93             Rutgers      0.291631
1           Vanderbilt      0.288038
36         Texas State      0.262577
91         North Texas      0.251435
117     UT San Antonio      0.249257
127               Rice      0.232255
129           Arkansas      0.231573
74       Bowling Green      0.229240
86       South Alabama      0.205984
95          New Mexico      0.197695
113        Connecticut      0.183663
30    New Mexico State      0.112467
111       Old Dominion      0.088747
9                  FCS      0.027542
73                UTEP      0.002526
44               UMass     -0.014081
59               Akron     -0.030737

[131 rows x 2 columns]

In [3]:
def print_full(x):
    pd.set_option('display.max_rows', len(x))
    print(x)

In [4]:
print_full(op)

                      team  colleyrating
40              Ohio State      1.029458
55                     LSU      0.964445
68                 Clemson      0.897372
7                  Memphis      0.868056
77                Oklahoma      0.862770
46                 Georgia      0.840642
109             Notre Dame      0.834664
119             Penn State      0.832072
130              Wisconsin      0.830073
18             Boise State      0.826428
10                  Oregon      0.811263
39                Michigan      0.802051
94       Appalachian State      0.791476
28                    Utah      0.790116
32              Cincinnati      0.789909
47                 Florida      0.783225
76                  Baylor      0.783188
54                  Auburn      0.776176
17                     SMU      0.771176
118                   Navy      0.767514
12                    Iowa      0.760456
123              Minnesota      0.760250
51                 Alabama      0.753456
102              Air Force      0.735807
98                     USC      0.695476
89        Florida Atlantic      0.678018
8                Louisiana      0.671728
110                    UCF      0.665448
71                Virginia      0.649216
75          Oklahoma State      0.638312
100           Kansas State      0.630703
96                   Texas      0.626271
116                 Temple      0.618087
15                 Indiana      0.618053
70             Wake Forest      0.614874
128        San Diego State      0.614133
0               Louisville      0.597013
120              Texas A&M      0.596509
72                Marshall      0.591165
122             Iowa State      0.590955
33                 Hawai'i      0.589206
80              Washington      0.586565
48               Tennessee      0.586374
22              Utah State      0.583600
13           Arizona State      0.577748
114         Michigan State      0.575169
19           Virginia Tech      0.573361
121                    BYU      0.564011
112             California      0.562189
23              Pittsburgh      0.556219
56              Miami (OH)      0.550396
126       Western Kentucky      0.546386
11        Georgia Southern      0.544956
53       Mississippi State      0.544589
50                Kentucky      0.540459
27          Louisiana Tech      0.538182
99           Florida State      0.537366
35                 Wyoming      0.516160
41                  Tulane      0.515637
65          Arkansas State      0.514575
4           North Carolina      0.506310
67          Boston College      0.496988
124                    UAB      0.490077
3            Georgia State      0.487568
2                    Miami      0.486933
14                Illinois      0.482447
105                 Nevada      0.481029
64                 Buffalo      0.479027
104   Southern Mississippi      0.475186
62        Central Michigan      0.475100
84                Colorado      0.475078
81        Washington State      0.473641
60        Western Michigan      0.473182
37                Nebraska      0.469189
108              Charlotte      0.466982
125                    TCU      0.457452
106               Missouri      0.456232
25            Oregon State      0.447543
43                   Tulsa      0.440413
49          South Carolina      0.433403
82                    UCLA      0.433175
85           West Virginia      0.430859
6                     Duke      0.430036
58              Kent State      0.427486
66        Louisiana Monroe      0.417150
87                Syracuse      0.406463
45           South Florida      0.406198
79                Stanford      0.406057
57                    Ohio      0.404702
42                  Purdue      0.403878
26                 Houston      0.401229
5                   Toledo      0.399112
38                 Liberty      0.394694
101       Eastern Michigan      0.378680
90   Florida International      0.373680
52                Ole Miss      0.370091
83                 Arizona      0.369788
92          San JosÃ© State      0.363878
61              Ball State      0.362851
97                Maryland      0.345274
115                   Troy      0.338886
16        Coastal Carolina      0.337318
107             Texas Tech      0.337269
29            Northwestern      0.329962
63       Northern Illinois      0.327727
31            Fresno State      0.326012
24                    Army      0.325932
69                NC State      0.319923
20            Georgia Tech      0.307989
88        Middle Tennessee      0.303482
34          Colorado State      0.302261
78                  Kansas      0.301402
103                   UNLV      0.298516
21           East Carolina      0.293297
93                 Rutgers      0.291631
1               Vanderbilt      0.288038
36             Texas State      0.262577
91             North Texas      0.251435
117         UT San Antonio      0.249257
127                   Rice      0.232255
129               Arkansas      0.231573
74           Bowling Green      0.229240
86           South Alabama      0.205984
95              New Mexico      0.197695
113            Connecticut      0.183663
30        New Mexico State      0.112467
111           Old Dominion      0.088747
9                      FCS      0.027542
73                    UTEP      0.002526
44                   UMass     -0.014081
59                   Akron     -0.030737